<div class="card" [routerLink]="['episode', episode().id]" [state]="{ episodeData: episode() }">
    <div class="card-header">
        <h4>{{episode().name}}</h4>
    </div>

    <div class="card-info">
        <span>{{episode().episode | episodeFormat}}</span>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
            <span style="font-weight: 600;">Estreno: </span>
            <span>{{episode().air_date | dateFormat}}</span>
            <span style="font-weight: 600;"># Personajes: </span>
            <span>{{episode().characters.length}}</span>
        </div>
    </div>
</div>